<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Regions", regions_path %></li>
      <li><%= link_to "TV-shows", teleshows_path %></li>
      <li><%= link_to "Page", current_user %></li>
      <li><a href="https://www.discovery.com/">News</a></li>
    </ul>
  </nav>
</footer>